
<!--should have a <footer> -->
    <!-- Footer -->
<footer class="pt-4 bg-dark">

    <!-- Footer Elements -->
    <div class="container row">
        <div class="col-8">
            <div class="d-flex flex-row justify-content-center">
                <a class="badge badge-secondary mx-3" style="font-size:1rem;" href="/#/home">Home</a>
                <a class="badge badge-secondary mx-3" style="font-size:1rem;" href="/#/products/all">Products</a>
                <a class="badge badge-secondary mx-3" style="font-size:1rem;" href="/#/cart">Cart</a>
                <a class="badge badge-secondary mx-3" style="font-size:1rem;" href="/#/account">Account</a>
            </div>
        </div>

        <div class="col-4">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="/#/" class="mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/#/" class="mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/#/" class="mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/#/" class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/#/" class="mx-1">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
    </div>
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">© 2022 Copyright:
      <a href="#">Organic World</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

